<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      User Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="chevron-down-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button (click)="updateUser()" color="primary">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="deleteUser()" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card *ngIf="userDetail$ | async as user">
    <ion-card-header>
      <ion-card-title>{{user.first_name}} {{user.last_name | uppercase}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img [src]="user.avatar">
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-item-divider>
                <ion-label>Email</ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>{{user.email}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

